.elements {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 20px 17px;
}

.elements__card {
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0px 0px 25px 0px #00000026;
  border-radius: 10px 10px 10px 10px;
}

.elements__image {
  max-width: 282px;
  max-height: 282px;
}

.elements__card-list {
  display: flex;
  justify-content: space-between;
  margin: 24px 15px 31px 21px;
}

.elements__title {
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
  color: #000000;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.elements__button {
  border: none;
  padding: 0;
  margin-left: 5px;
  background-color: #ffffff;
  display: flex;
  align-self: center;
  cursor: pointer;
}

.elements__button:hover {
  opacity: 50%;
}

.elements__button_active {
  background-image: url(https://practicum-content.s3.us-west-1.amazonaws.com/web-code/dom/moved_heart-filled.svg);
}

@media screen and (max-width: 900px) {
  .elements {
    margin-top: 36px;
    display: grid;
    place-self: center;
    grid-template-columns: repeat(2, 282px);
    grid-template-rows: repeat(3, 361px);
    gap: 20px 17px;
  }
}

@media screen and (max-width: 680px) {
  .elements {
    margin-top: 36px;
    display: grid;
    place-self: center;
    grid-template-columns: 282px;
    grid-template-rows: repeat(6, 361px);
    gap: 20px;
  }
}
