.popup {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 1;
}

.popup__container {
  width: 430px;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 25px 0px #00000026;
  box-shadow: 0px 0px 25px 0px #00000026;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  padding: 34px 0 0 36px;
}

.popup__button-close {
  width: 40px;
  height: 40px;
  rotate: (45deg);
  color: #ffffff;
  position: absolute;
  right: -40px;
  top: -40px;
  cursor: pointer;
}

.popup__button-close:hover {
  opacity: 60%;
}

.popup__title {
  font-size: 24px;
  font-weight: 900;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  color: #000000;
  margin: 0;
}

.popup__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 54px 0 36px 0;
}

.popup__name {
  border: none;
  font-family: Inter;
  max-width: 358px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.popup__job {
  border: none;
  font-family: Inter;
  max-width: 358px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

.popup__input-name {
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

.popup__input-job {
  color: black;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  outline: none;
}

.popup__line-name {
  margin: 13.26px 0 29.74px 0;
  border: 1px;
  opacity: 20%;
  background-color: #000000;
}

.popup__line-about {
  margin: 13.34px 0 48px 0;
  border: 1px;
  opacity: 20%;
  background-color: #000000;
}

.popup__button {
  width: 358px;
  height: 50.15px;
  border-radius: 2px 0px 0px 0px;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.78px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  background-color: #000000;
  color: #ffffff;
  cursor: pointer;
}

.popup__button:hover {
  opacity: 80%;
}

.popup__button-inactive {
  color: #b8b8b8;
  background: #ededed;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.popup__input-error {
  font-size: 12px;
  color: red;
  max-width: 200px;
  transition: 0.3s;
  padding-top: 5px;
}

.popup__input-error_active {
  opacity: 1;
}

.popup__input_type_error {
  border-bottom-color: red;
}

@media screen and (max-width: 680px) {
  .popup__container {
    width: 282px;
    height: 322px;
    position: relative;
  }

  .popup__button-close {
    width: 26px;
    height: 26px;
    position: absolute;
    top: -39.62px;
    right: 0;
  }

  .popup__title {
    font-size: 18px;
    margin: 0;
    padding: 25px 0px 76px 22px;
  }

  .popup__fieldset {
    padding: 0 22px 25px;
  }

  .popup__input {
    max-width: 238px;
  }

  .popup__line-name {
    width: 238px;
    margin: 9px 0 30px 0;
  }

  .popup__line-about {
    width: 238px;
    margin: 9px 0 46px 0;
  }

  .popup__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
  }
}
